#date-input {
  display: flex;
}

.date {
  margin: 1em;
  width: 278px;
}

#shifts-btn {
  margin: 1em;
}

.tip-modal {
  width: 26em;
}

.tip-modal-body {
  margin: auto;
}

#year-input {
  display: flex;
}

#year-btn {
  margin: 1em;
}
