<div id="shift-page">
  <div id="date-input">
    <div class="input-group date">
      <div class="input-group-prepend">
        <span class="input-group-text" id="startDate">Start Date</span>
      </div>
      <input type="date" class="form-control" aria-describedby="startDate" ng-model="startDate">
    </div>
    <div class="input-group date">
      <div class="input-group-prepend">
        <span class="input-group-text" id="endDate">End Date</span>
      </div>
      <input type="date" class="form-control" aria-describedby="endDate" ng-model="endDate">
    </div>
    <button id="shifts-btn" type="button" class="btn btn-outline-secondary" ng-click="listShifts()">List shifts</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Day</th>
        <th scope="col">Time</th>
        <th scope="col"></th>
        <th scope="col">Tip Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="shift in shifts">
        <th scope="row">{{shift.date}}</th>
        <td>{{shift.day}}</td>
        <td>{{shift.time}}</td>
        <td ng-if="!shift.tip"><button type="button" id="add-tip"class="btn btn-outline-secondary" data-toggle="modal" data-target="#addTipModal" ng-click="populateModal(shift)">Add Tip Amount</button></td>
        <td ng-if="shift.tip"><button type="button" id="edit-tip" class="btn btn-outline-warning" data-toggle="modal" data-target="#addTipModal" ng-click="populateModal(shift)">Edit Tip Amount</button></td>
        <td>{{shift.tip}}</td>
      </tr>
    </tbody>
  </table>
  <div ng-if="shifts.length === 0">You have no shifts durring these days</div>
</div>
  
  <!-- Modal for Add Tip button; Must be in ng-repeat to get shift info -->
  <div class="modal" id="addTipModal" tabindex="-1" role="dialog" aria-labelledby="addTipModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tip-modal">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{shift.date}}, {{shift.day}}, {{shift.time}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body tip-modal-body">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="shift.amount">
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button ng-if="!shift.tip" type="button" class="btn btn-warning save-tip" data-dismiss="modal" ng-click="saveTip()">Save</button>
          <button ng-if="shift.tip" type="button" class="btn btn-warning save-tip" data-dismiss="modal" ng-click="editTip()">Save</button>
          <button ng-if="shift.tip" type="button" class="btn btn-danger delete-tip" data-dismiss="modal" ng-click="deleteTip()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  