<!-- <h1>{{message}}</h1> -->
<div id="stats-page">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" ng-class="averagesTab" ng-click="getAverages()">Averages</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" ng-class="overviewTab" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Year Overview</a>
      <div class="dropdown-menu" aria-labelledby="year-overview">
        <a ng-repeat="year in years" ng-click="getYearOverview(year)" class="dropdown-item">{{year}}</a>
      </div>
    </li>
    <li class="nav-item" ng-if="showYear">
      <a class="nav-link justify-content-end" ng-class="averagesTab">Year Total:  ${{yearTotal}}</a>
    </li>
  </ul>
  <div>
    <canvas id="bar" class="chart chart-bar"
      chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors" chart-options="options"> chart-series="series"
    </canvas>
  </div>
</div>